*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.gallery{
    background-image: url(assets/hotel-background-image.jpg);
    height: 25vh;
    background-size: cover;
    background-position:  top;
    background-repeat: no-repeat;
}

@media screen and (max-width:500px) {
    
    .gallery {
        background-image: url(assets/hotel-background-image.jpg);
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box img{
        width: 200px;
        height: 200px;
    }
}

.box{
    transition: 0.5s ease-in-out;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 5px solid rgb(255, 191, 0);
}

.box:hover{
    transform: scale(1.2);
    z-index: 1;
}